
:is(.st-key-left_slider, .st-key-middle_slider, .st-key-right_slider, .st-key-month_slider) {
    --slider-color: #8B0000;
    --slider-text-color: #162B52;
    --slider-font: "Garamond", serif;
}


:is(.st-key-left_slider, .st-key-middle_slider, .st-key-right_slider, .st-key-month_slider) label[data-testid="stWidgetLabel"] {
    width: 100%;
    display: block;
    text-align: center;
}

:is(.st-key-left_slider, .st-key-middle_slider, .st-key-right_slider, .st-key-month_slider) label[data-testid="stWidgetLabel"] p {
    font-family: var(--slider-font);
    font-size: 20px;
    font-weight: bold;
    color: var(--slider-text-color);
}


:is(.st-key-left_slider, .st-key-middle_slider, .st-key-right_slider, .st-key-month_slider) div[data-baseweb="slider"] > div:first-child > div > div:first-child {
    background: var(--slider-color) !important;
    background-color: var(--slider-color) !important;
    height: 6px !important;
    border-radius: 999px !important;
}

:is(.st-key-left_slider, .st-key-middle_slider, .st-key-right_slider, .st-key-month_slider) div[data-baseweb="slider"] > div:first-child > div > div[style*="height"] {
    background: var(--slider-color) !important;
    background-color: var(--slider-color) !important;
    height: 6px !important;
    border-radius: 999px !important;
}


:is(.st-key-left_slider, .st-key-middle_slider, .st-key-right_slider, .st-key-month_slider) [role="slider"] {
    background: var(--slider-color) !important;
    background-color: var(--slider-color) !important;
    border-color: var(--slider-color) !important;
}

:is(.st-key-left_slider, .st-key-middle_slider, .st-key-right_slider, .st-key-month_slider) [role="slider"]:focus,
:is(.st-key-left_slider, .st-key-middle_slider, .st-key-right_slider, .st-key-month_slider) [role="slider"]:active,
:is(.st-key-left_slider, .st-key-middle_slider, .st-key-right_slider, .st-key-month_slider) [role="slider"]:hover {
    box-shadow: 0 0 0 6px rgba(139, 0, 0, 0.25) !important;
    outline: none !important;
}


:is(.st-key-left_slider, .st-key-middle_slider, .st-key-right_slider, .st-key-month_slider) div[data-testid="stSliderThumbValue"] p {
    font-family: var(--slider-font);
    font-size: 18px;
    font-weight: bold;
    color: var(--slider-color);
}


:is(.st-key-left_slider, .st-key-middle_slider, .st-key-right_slider, .st-key-month_slider) div[data-testid="stSliderTickBar"] p {
    font-family: var(--slider-font);
    font-size: 14px;
    font-weight: bold;
    color: #8B0000;
}


:is(.st-key-left_slider, .st-key-middle_slider, .st-key-right_slider, .st-key-month_slider) div[data-testid="stSliderTickBar"],
:is(.st-key-left_slider, .st-key-middle_slider, .st-key-right_slider, .st-key-month_slider) div[data-testid="stSliderTickBar"] div,
:is(.st-key-left_slider, .st-key-middle_slider, .st-key-right_slider, .st-key-month_slider) div[data-testid="stSliderTickBar"] p {
    background: transparent !important;
    background-color: transparent !important;
}



[data-testid="stHeading"] h1 {
    text-align: center;
    width: 100%;
}

[data-testid="stHeading"] h1 > span:first-child {
    display: block;
    width: 100%;
    font-family: "Garamond", serif;
    font-size: 34px;
    font-weight: bold;
    color: #162B52;
}



[data-testid="stMainBlockContainer"] {
    max-width: 1200px;
    padding-left: 3rem;
    padding-right: 3rem;
}


[data-testid="stHorizontalBlock"]:has(.st-key-left_slider):has(.st-key-middle_slider):has(.st-key-right_slider) {
    gap: 1rem !important;
}



:is(.st-key-middle_slider, .st-key-right_slider) div[data-testid="stSliderThumbValue"] {
    visibility: hidden !important;
}

:is(.st-key-middle_slider, .st-key-right_slider) div[data-testid="stSliderTickBar"] {
    visibility: hidden !important;
}


.st-key-leibniz_quote [data-testid="stMarkdownContainer"] p {
    font-family: "Garamond", serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
}

.st-key-leibniz_quote {
    margin-top: -3rem !important;
    margin-bottom: 1.5rem !important;

}

.st-key-page_title {
    margin-top: -3.5rem !important;
}

.st-key-page_title [data-testid = "stMarkdownContainer"] h1 span {
    font-family: "Garamond", serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
}

.st-key-page_title [data-testid = "stMarkdownContainer"] h1 {
    text-align: center !important;
    line-height: 1.15 !important;
    margin-bottom: 1rem !important;
}


.st-key-authors {
    margin-top: -5rem !important;
}

.st-key-authors [data-testid = "stMarkdownContainer"] p {
    font-family: "Garamond", serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 600;
    text-align: center;
}


.st-key-overview button p {
    font-size: 20px;
    font-weight: 600;
}

.st-key-model_description button p {
    font-size: 20px;
    font-weight: 600;
}

.st-key-simulation button p {
    font-size: 20px;
    font-weight: 600;
}


@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(139, 0, 0, 0.35);
    }
    70% {
        transform: scale (1.02);
        box-shadow: 0 0 0 5px rgba(255, 0, 0, 0);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
}


.st-key-nav_row button {
    font-family: "Garamond", serif;
    font-size: 15px;
    font-weight: 600;
}

.st-key-simulation button {
    animation: pulse 2s infinite;
}

header[data-testid="stHeader"] {
    background: transparent !important;
}

[data-testid="stMainBlockContainer"] {
    padding-top: 4.3rem !important;
}


/* Pillars */


[data-testid="stMainBlockContainer"] {
    position: relative;
    z-index: 1;
    overflow: visible;
}


[data-testid="stMainBlockContainer"] > div {
    position: relative;
    z-index: 2;
}

/* Shared pillar styling */
[data-testid="stMainBlockContainer"]::before,
[data-testid="stMainBlockContainer"]::after {
    content: "";
    position: absolute;
    top: 4rem;

    width: clamp(160px, 15vw, 280px);
    height: 120vh;

    background-image: url("app/static/roman_pillar.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top center;

    opacity: 0.55;
    pointer-events: none;
    z-index: 1;
}


[data-testid="stMainBlockContainer"]::before {
    left: -22rem;
}


[data-testid="stMainBlockContainer"]::after {
    right: -22rem;
    transform: scaleX(-1);
}

@media (max-width: 1000px) {
    [data-testid="stMainBlockContainer"]::before,
    [data-testid="stMainBlockContainer"]::after {
        display: none;
    }
}

.st-key-formula .katex {
    font-size: 25px !important;
    font-weight: 600 !important;
}


.st-key-formula {
    margin-top: -2rem !important;
    margin-bottom: 0rem !important;
}

.st-key-parameter_exp .parameter-list {
    width: fit-content;
    margin: 0 auto;
    text-align: left;
    font-family: "Garamond", serif;
    font-size: 16px;
    font-weight: 700;
}

.st-key-parameter_exp .parameter-list li {
    margin-bottom: 0.45rem;
}


.st-key-parameter_exp {
    border: 1px solid rgba(22, 43, 82, 0.35);
    border-radius: 14px;
    padding: 1.3rem 1.8rem;
    margin: 1rem auto;
    max-width: 750px;
    background: rgba(255, 255, 255, 0.65);
    box-shadow: 0 4px 16px rgba(22, 43, 82, 0.08);
}

.st-key-model_exp [data-testid="stMarkdownContainer"] p {
    font-family: "Garamond", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    text-align: left;
}

.st-key-model_exp {
    border: 1px solid rgba(22, 43, 82, 0.35);
    border-radius: 14px;
    padding: 1.3rem 1.8rem;
    margin: 1rem auto;
    max-width: 750px;
    background: rgba(255, 255, 255, 0.65);
    box-shadow: 0 4px 16px rgba(22, 43, 82, 0.08);
}


[data-testid="stHorizontalBlock"]:has(.st-key-left_slider):has(.st-key-middle_slider):has(.st-key-right_slider) {
    gap: 1rem !important;
    margin-top: -0.5rem !important;
    margin-bottom: 0rem
}

.st-key-month_slider_section {
    max-width: 650px !important;
    margin: -1.5rem auto 0 auto !important;
    margin-top: 2rem;
}

.st-key-wide_chart_section {
    width: min(74vw, 1300px) !important;
    max-width: none !important;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}


.metric-card {
    width: 100%;
    min-height: 115px;
    box-sizing: border-box;

    border: 1px solid rgba(22, 43, 82, 0.18);
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.86);
    box-shadow: 0 4px 18px rgba(22, 43, 82, 0.08);

    padding: 1rem 1.15rem;

    font-family: "Garamond", serif;
    color: #162B52;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.metric-card-title {
    font-size: 16px;
    font-weight: 700;
    color: #162B52;
    margin-bottom: 0.55rem;
}

.metric-card-value {
    font-size: 26px;
    font-weight: 800;
    color: #000000;
    line-height: 1.05;
}

.metric-card-subtitle {
    font-size: 14px;
    font-weight: 600;
    color: rgba(22, 43, 82, 0.65);
    margin-top: 0.25rem;
}

.metric-card-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 0.8rem;
    margin-top: 0.35rem;
}

.metric-card-label {
    font-size: 14px;
    font-weight: 600;
    color: rgba(22, 43, 82, 0.68);
}

.metric-card-row-value {
    font-size: 17px;
    font-weight: 800;
    color: #000000;
    white-space: nowrap;
}


.metric-card-title { font-size: 20px; }
.metric-card-value { font-size: 14px; }
.metric-card-row-value { font-size: 17px; }
.metric-card { min-height: 115px; }


.st-key-month_slider_section {
    max-width: 650px !important;
    margin: -1.5rem 0 0 0 !important;
}

.st-key-metric_slider_row {
    margin-top: -0.5rem !important;
    margin-bottom: 1rem;
}

.st-key-month_slider {
    margin-top: -1.5rem !important;
}

.metric-card {
    text-align: center;
    align-items: center;
}

.st-key-download button p {
    font-size: 20px;
    font-weight: 600;
}


.metric-card-title {
    margin-bottom: 0.25rem !important;   /* smaller gap below title */
    line-height: 1.2 !important;
}